<div id='signup'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup(signupForm.$valid)' novalidate>
    <input type='text' name="username" ng-model='user.username' ng-minlength="5" ng-maxlength="12" required >
    <p ng-show="signupForm.username.$error.minlength" class="help-block">Username is too short.</p>
    <p ng-show="signupForm.username.$error.maxlength" class="help-block">Username is too long.</p>
    <input type="password" name="password" required ng-model='user.password'>
    <p ng-show="signupForm.password.$invalid && !signupForm.password.$pristine" class="help-block">Password Required!</p>
    <button type="submit" ng-disabled="signupForm.$invalid">signup</button>
  </form>
  <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
</div>
